- dont do overaction

- do action

- listen the class properly

- chat with chatgpt

In [2]:
l1=['ramesh','suresh','satish']
l2=[20,30,40]
for i in range(len(l1)):
    print(f'{l1[i]} age is {l2[i]}')

ramesh age is 20
suresh age is 30
satish age is 40

**zip**

In [4]:
l1=['ramesh','suresh','satish']
l2=[20,30,40]
for i,j in zip(l1,l2):
    print(i,j)
    print(f'{i} age is {j}')

ramesh 20
ramesh age is 20
suresh 30
suresh age is 30
satish 40
satish age is 40

In [8]:
l1=['ramesh','suresh','satish']
l2=[20,30,40]
l3=['hyd','pune','chennai']
for i,j,k in zip(l1,l2,l3):
    print(f'{i} age is {j} and from {k}')

ramesh age is 20 and from hyd
suresh age is 30 and from pune
satish age is 40 and from chennai

**dictionary**

In [13]:
dict1={'ramesh':20,'suresh':30,'satish':40}
dict1

{'ramesh': 20, 'suresh': 30, 'satish': 40}

In [15]:
type(dict1)

dict

**initialization**

In [22]:
dict1={'ramesh':20,'suresh':30,'satish':40}
dict1

{'ramesh': 20, 'suresh': 30, 'satish': 40}

In [56]:
dict2={20:'ramesh'}
dict2

{20: 'ramesh'}

In [60]:
dict2={'ramesh':20,'ramesh':30}
dict2
#keys are important
#when same keys but different value
#it will take the latest value

{'ramesh': 30}

In [54]:
dict2={20:20}
dict2

{20: 20}

In [52]:
dict2={'ramesh':'ramesh'}
dict2

{'ramesh': 'ramesh'}

In [48]:
dict2={'ramesh':[20]}
print(dict2)

{'ramesh': [20]}

In [77]:
dict2 = {('ramesh'):20}
print(dict2)

{'ramesh': 20}

In [58]:
dict2={'ramesh':'20'}
dict2

{'ramesh': '20'}

In [62]:
dict1={'ramesh':20,'suresh':20,'satish':20}
dict1

{'ramesh': 20, 'suresh': 20, 'satish': 20}

In [64]:
dict1={'ramesh':20,'ramesh':20}
dict1
# duplicates are not allowed

{'ramesh': 20}

In [66]:
d3={'age':[10,20,30]}
d3
# list can be a value

{'age': [10, 20, 30]}

- list is mutable 
- tuple is immutable
- so list cannot be a key
- **keys are important**

In [69]:
d4={'fruits':{'apple':20}}
d4

{'fruits': {'apple': 20}}

In [71]:
d4={{'apple': 20}:'fruits'}
d4

TypeError: unhashable type: 'dict'

In [79]:
d4={(10,20,30):['a','b','c']}
d4

{(10, 20, 30): ['a', 'b', 'c']}

**inbuilt-functions**

In [89]:
d1={'ramesh':20,'suresh':30,'satish':40}
print(max(d1))
d2={'ramesh':'20','suresh':'30','satish':'40'}
print(max(d2))
d3={20:'ramesh',30:'suresh',40:'satish'}
print(max(d3))
d4={'ramesh':'20','suresh':30,40:'satish'}
print(max(d4))

suresh
suresh
40

TypeError: '>' not supported between instances of 'int' and 'str'

In [91]:
d1={'ramesh':20,'suresh':30,'satish':40}
print(min(d1))
d2={'ramesh':'20','suresh':'30','satish':'40'}
print(min(d2))
d3={20:'ramesh',30:'suresh',40:'satish'}
print(min(d3))
d4={'ramesh':'20','suresh':30,40:'satish'}
print(min(d4))

ramesh
ramesh
20

TypeError: '<' not supported between instances of 'int' and 'str'

In [93]:
d1={'ramesh':20,'suresh':30,'satish':40}
print(len(d1))
d2={'ramesh':'20','suresh':'30','satish':'40'}
print(len(d2))
d3={20:'ramesh',30:'suresh',40:'satish'}
print(len(d3))
d4={'ramesh':'20','suresh':30,40:'satish'}
print(len(d4))

3
3
3
3

In [100]:
d1={'ramesh':20,'suresh':30,'satish':40}
print(sorted(d1))
d2={'ramesh':'20','suresh':'30','satish':'40'}
print(sorted(d2))
d3={20:'ramesh',30:'suresh',40:'satish'}
print(sorted(d3))

['ramesh', 'satish', 'suresh']
['ramesh', 'satish', 'suresh']
[20, 30, 40]

In [102]:
d4={'ramesh':'20','suresh':30,40:'satish'}
list(reversed(d4))

[40, 'suresh', 'ramesh']

In [98]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- max/min/sorted can work for homogeneous(means same datatype)
- sum is only worked for numbers only
- reversed can work anywhere

**index**

In [106]:
d1={'ramesh':20,'suresh':30,'satish':40}
d1[0]

KeyError: 0

In [110]:
d1['suresh'],d1['satish']

(30, 40)

In [114]:
d1={'ramesh':20,'suresh':30,'satish':40}
for i in d1:
    print(i,d1[i])

ramesh 20
suresh 30
satish 40

In [118]:
d1={'ramesh':20,'suresh':30,'satish':40}
for i in d1:
    print(f'{i} has age of :{d1[i]}')

ramesh has age of :20
suresh has age of :30
satish has age of :40

- whenever we iterate dictionary using for loop  in operator it will give keys
- if we want to get values we will access through key only
- key will work as index

In [125]:
d1={'fruits':['apple','banana','cherry']}
d1['fruits'][1]

'banana'

In [139]:
d1={'fruits':{'Appple':['Sweet','Green','custred']}}
d1['fruits']['Appple'][1]

'Green'

In [149]:
d1={'Fruites':[{'Cost':[100,200,300]}]}
d1['Fruites'][0]['Cost'][2]

300

In [167]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
d1['Cost'][0]['2kg'][0]

'None'

In [187]:
d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

TypeError: 'set' object is not subscriptable

In [189]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**how to convert list to dictionary**

In [2]:
names=['ramesh','suresh','satish']
age=[20,30,40]
d1={}
for i,j in zip(names,age):
    print(i,j)

ramesh 20
suresh 30
satish 40

In [14]:
name=['ramesh','suresh','satish']
age=[20,30,40]
d1={}
d1['ramesh']=20
d1['suresh']=30
d1['satish']=40
d1 #d1[i]=j

{'ramesh': 20, 'suresh': 30, 'satish': 40}

In [18]:
name=['ramesh','suresh','satish']
age=[20,30,40]
d1={}
for i,j in zip(name,age):
    d1[i]=j
d1

{'ramesh': 20, 'suresh': 30, 'satish': 40}

**how to convert  dictionary to list**

In [21]:
d1={'ramesh': 20, 'suresh': 30, 'satish': 40}
for i in d1:
    print(i)

ramesh
suresh
satish

In [41]:
d1={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=[]
values=[]
for key in d1:
    keys.append(key)
    values.append(d1[key])
keys,values

(['ramesh', 'suresh', 'satish'], [20, 30, 40])

In [33]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
d1={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=[key for key in d1]
values=[d1[key] for key in d1]
keys,values

(['ramesh', 'suresh', 'satish'], [20, 30, 40])

In [81]:
name=['ramesh','suresh','satish']
age=[20,30,40]
d1={}
for i,j in zip(name,age):
    d1[i]=j
d1

{'ramesh': 20, 'suresh': 30, 'satish': 40}

In [45]:
name=['ramesh','suresh','satish']
age=[20,30,40]
d1={key:value for key,value in zip(name,age)}
d1

{'ramesh': 20, 'suresh': 30, 'satish': 40}

**concatenation**

In [48]:
d1={'ramesh':20}
d2={'fruit':'apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [51]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d.items()

dict_items([('ramesh', 20), ('suresh', 30), ('satish', 40)])

In [53]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=d.keys()

dict_values([20, 30, 40])

In [57]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=d.keys()
keys

dict_keys(['ramesh', 'suresh', 'satish'])

In [59]:
type(keys)

dict_keys

In [61]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=d.keys() #dict_keys type
list(keys)   #list type

['ramesh', 'suresh', 'satish']

In [63]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
values=d.values()
list(values)

[20, 30, 40]

In [69]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
items=list(d.items())
items

[('ramesh', 20), ('suresh', 30), ('satish', 40)]

In [ ]:
d1={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=[]
values=[]
for key in d1:
    keys.append(key)
    values.append(d1[key])
keys,values
##################################################################
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=[key for key in d]
values=[d1[key] for key in d]
###################################################################
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
items=list(d.items())
values=list(d.values())
keys=list(d.keys())

In [79]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'satish': '40'}

**get**

In [85]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d.get('satish')

40

In [ ]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d.get('satish') #will get ans
d.get('ram')   #no ans no error
#############################################
d['ramesh'] #get ans
d['ram']  #get error

**update**

In [90]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d1={'fruits':'apple'}
d.update(d1)
d

{'ramesh': 20, 'suresh': 30, 'satish': 40, 'fruits': 'apple'}

In [98]:
d.update(apple=200)
d

{'ramesh': 20, 'suresh': 30, 'satish': 40, 'fruits': 'apple', 'apple': 200}

In [104]:
d.update([(200,'marks')])
d

{'ramesh': 20,
 'suresh': 30,
 'satish': 40,
 'fruits': 'apple',
 'apple': 200,
 200: 'marks'}

In [106]:
t=(200,'marks')
l=[t]
d.update(l)
d

{'ramesh': 20,
 'suresh': 30,
 'satish': 40,
 'fruits': 'apple',
 'apple': 200,
 200: 'marks'}

- concatenate of two dictionary fails
- but we can combine 2 dictionary methods using update method

In [109]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d1={'fruits':'apple'}
d.update(d1)
d

{'ramesh': 20, 'suresh': 30, 'satish': 40, 'fruits': 'apple'}

In [113]:
d.update(banana=80)
d

{'ramesh': 20, 'suresh': 30, 'satish': 40, 'fruits': 'apple', 'banana': 80}

In [117]:
t=(500,'marks')
l=[t]
d.update(l)
d

{'ramesh': 20,
 'suresh': 30,
 'satish': 40,
 'fruits': 'apple',
 'banana': 80,
 500: 'marks'}

**pop-popitem**

In [121]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d.pop('suresh') #expecting key

30

In [123]:
d

{'ramesh': 20, 'satish': 40}

In [125]:
l=[1,2,3,4]
l.pop(3) # expecting a index

4

In [127]:
l

[1, 2, 3]

In [129]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
d.popitem()

('satish', 40)

{'ramesh': 20, 'suresh': 30}

In [135]:
d={'ramesh': 20, 'suresh': 30}
d.popitem()

('suresh', 30)

- pop will except a key,corresponding value will be removed
- pop will return the value which is removing
- pop item has no arguments,last **key-value pair** will be removed
- pop item return last **key-value pair**

In [140]:
l=[100,299,300,433]
del l[2]
l

[100, 299, 433]

In [142]:
l=[100,299,300,433]
del l
l

NameError: name 'l' is not defined

In [146]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
del d['suresh']
d

{'ramesh': 20, 'satish': 40}

In [148]:
d={'ramesh': 20, 'suresh': 30, 'satish': 40}
del(d)
d

NameError: name 'd' is not defined

['prasad', 12, 32, 33, 12, 32, 33, 12, 32, 33]